<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 快樂圖書館你好 {% endblock %}
{% block headmessage %} 
    
    <h3 style='font-family:標楷體;'>書籍推薦列表</a>
{% endblock %}
{% block content %} 
{% for book in books %}
<div class='card'>
    <div class='card-header'>
        <p style='font-family:標楷體;font-size:14pt;font-weight:bold;'>
            <a href='/book/{{book.slug}}'style="color:black;">{{ book.title }}</a>
        </p>
    </div>
    <div class='card-body' style='background-color:#F1E2DB'>
        <p>作者: {{book.author }}</p>
        <p>章節: {{book.chapter | truncatechars:100 }}</p>
    </div>
    <div class='card-footer'  style='background-color:#F6F2F1'>
        <p>
            發佈時間：{{ book.pub_date | date:"Y M d, h:m:s"}}
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}

